@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  text-align: center;
}

body {
  position: sticky;
  background: linear-gradient(
    90deg,
    rgba(54, 217, 182, 1) 0%,
    rgba(32, 152, 126, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
